<body>
<div>
    <header>
        <h1>This demonstrates the usage of the d.velop IdentityProvider (IdP)</h1>
    </header>
    <main>
        <dl>
            <dt>User Id</dt>
            <dd>{{UserId}}</dd>
            <dt>User Name</dt>
            <dd>{{UserName}}</dd>
        </dl>
    </main>
</div>
</body>
</html>