<body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
<nav>
  <ul>
    <li><strong>Brand</strong></li>
  </ul>
  <ul>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#" role="button">Button</a></li>
  </ul>
</nav>
    </header>
    <main class="container">
      <h1>Hello, world!</h1>
      never gonna give you <h2>up</h2>
      never gonna let you <h2>down</h2>
    </main>
</body>
</html>