<body>
<div>
    <header>
        <h1>{{title}}</h1>
    </header>
    <main>
        <dl>
            <dt>Version</dt>
            <dd id="appver">{{version}}</dd>
            <a href="vacationrequest/">Vacation Requests</a>
            <a href="idpdemo/">IdP Usage Demo</a>
        </dl>
    </main>
</div>
</body>
</html>