<body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" role="toolbar">
                <span class="mdc-top-app-bar__title mdc-theme--on-primary">{{title}}</span>
            </section>
        </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust">
        <dl>
            <dt>Version</dt>
            <dd id="appver">{{version}}</dd>
            <a href="vacationrequest/">Vacation Requests</a>
            <a href="idpdemo/">IdP Usage Demo</a>
        </dl>
    </main>
</body>
</html>