<body class="mdc-typography">
<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" role="toolbar">
            <a href="../vacationrequest" class="material-icons mdc-top-app-bar__action-item"
               aria-label="New vacation request" title="New vacation request">add</a>
        </section>
    </div>
</header>
<div class="mdc-top-app-bar--fixed-adjust">
    <div class="mdc-menu mdc-menu-surface" tabindex="-1">
        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
            <li class="mdc-list-item" role="menuitem" id="menu_accept">
                <span class="mdc-list-item__graphic dmc-list-item__graphic material-icons">check</span>
                <span class="mdc-list-item__text">Confirm</span>
            </li>
            <li class="mdc-list-item" role="menuitem" id="menu_reject">
                <span class="mdc-list-item__graphic dmc-list-item__graphic material-icons">block</span>
                <span class="mdc-list-item__text">Reject</span>
            </li>
            <li class="mdc-list-item" role="menuitem" id="menu_cancel">
                <span class="mdc-list-item__graphic dmc-list-item__graphic material-icons">cancel</span>
                <span class="mdc-list-item__text">Cancel</span>
            </li>
        </ul>
    </div>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface">
            <div class="mdc-snackbar__label"
                 role="status"
                 aria-live="polite">Placeholder
            </div>
        </div>
    </div>
</div>
<script async src={{script}}></script>
</body>