:root{
    --mdc-theme-primary:#333e48;
    --mdc-theme-on-primary: #fff;
}

main {
    margin: 10px 50px;
    width: 60%;
    min-width: 300px;
}

.mdc-form-field {
    display: block;
    margin-bottom: 20px;
}

.mdc-form-field:first-of-type {
    margin-top: 50px;
}

.mdc-text-field {
    width: 100%;
    min-width: 300px;
}

.mdc-button {
    float: right;
}

#error {
    color: red;
    font-size: 2em;
}