:root{
    --mdc-theme-primary:#333e48;
    --mdc-theme-on-primary: #fff;
}

#requests .mdc-list-item {
    margin: 10px;
}

#requests .mdc-list-item__text {
    height: 70px;
}

[data-state="rejected"] .state-icon{
    color:red;
}

[data-state="accepted"] .state-icon {
    color:green;
}

[data-state="cancelled"] .mdc-list-item__text{
    text-decoration: line-through;
}
